<header>
  <h1>{{title}}</h1>
</header>

<nav class="navbar">
  {{#each items}}
  <li><a href="#{{this.name}}">{{this.name}}</a></li>
  {{/each}}
  </ul>
</nav>

<div class="container">
  {{#each items}}
  <div id={{this.name}} class="card">
    <img class="card-img-top" alt={{this.name}} src={{this.imgSrc}} />
    <div class="card-body">
      <h2 class="card-title">{{this.name}}</h2>
      <p class="card-text">{{this.details}}</p>
    </div>
  </div>
  {{/each}}
</div>